.lecture-detail {
    display: grid;
    grid-template-areas:
        'in p'
        'in d';
    grid-template-rows   : 3fr 2fr;
    grid-template-columns: 3fr 2fr;
    position             : fixed;
    padding-top          : 0;
    top                  : 0;
    left                 : 0;
    width                : 100%;
    height               : 100vh;
    visibility           : hidden;

    >* {
        transition: .5s;
    }

    .lecture-info {
        grid-area       : in;
        background-color: var(--darker-background-color);
        color           : white;
        transform       : translateX(100%);

        >* {
            font-weight: 500;
            padding    : .75rem 0;
        }

        h3 {
            font-size  : 36px;
            font-weight: 600;
        }

        h4 {
            font-size: 24px;
        }

        p {
            font-size: 20px;

            &::before {
                display         : inline-block;
                height          : 48px;
                width           : 5px;
                background-color: var(--lightblue);
                content         : '';
                transform       : translate(-5px, 5px);
            }

            span {
                font-size: 50px;
            }
        }
    }

    .lecture-pic {
        grid-area: p;
        transform: translateY(-100%);

        img {
            width : 100%;
            height: 100%;
        }
    }

    .lecture-date {
        display         : grid;
        align-content   : center;
        background-color: cornflowerblue;
        font-size       : 28px;
        line-height     : 1.5em;
        transform       : translateY(100%);


        p {
            font-size : 28px;
            text-align: center;
        }

    }

    &.active {
        z-index   : 5;
        visibility: visible;

        >* {
            transition: .5s;
        }

        .detail-close {
            display        : flex;
            position       : absolute;
            top            : 0;
            right          : 0px;
            width          : 50px;
            height         : 50px;
            justify-content: center;
            align-items    : center;
            z-index        : 5;
            background     : rgba(255,255,255,.3);

            &:hover {
                background-color: var(--primary-background-color);

                .close {
                    transform: rotate(360deg);
                }
            }

            .close {
                font-size : 30px;
                transition: .5s;
            }
        }

        .lecture-info {
            padding  : 5rem 3rem;
            transform: translateX(0);
        }

        .lecture-pic {
            transform: translateY(0);
        }

        .lecture-date {
            transform: translateY(0);
        }
    }

    @media screen and (max-width:1200px) {
        grid-template-areas:
            'p d'
            'in in'
        ;
        grid-template-columns: 3fr 2fr;
        grid-template-rows   : auto;
    }

    @media screen and (max-width:768px) {
        overflow: auto;
        grid-template-areas:
            'p'
            'd'
            'in'
        ;
        grid-template-columns: 1fr;
        grid-template-rows   : auto;

        .lecture-pic {
            transform: translate(100%, 0);
        }

        .lecture-info {
            transform: translate(100%, 0);
        }

        &.active {
            .lecture-pic {
                transform: translate(0, 0);
            }

            .lecture-info {
                transform: translate(0, 0);
                padding  : 3rem;
            }

            .lecture-date {
                padding-top     : 2rem;
                background-color: var(--darker-background-color);
                color           : white;
                font-size       : 24px;
            }

        }
    }
}