/* banner */
.article-banner {
    margin-top: 60px;
    padding   : 0;

    img {
        width     : 100%;
        height    : 540px;
        object-fit: cover;
    }
}

.article-deatil {
    main {
        margin-top: 60px;

        .menu {
            display  : flex;
            flex-wrap: wrap;

            &>* {
                padding  : 0 1rem;
                font-size: 16px;

                @media screen and (max-width:768px) {
                    padding  : 0 1rem;
                    font-size: 16px;
                }
            }
        }

        .title {
            margin: 2rem;

            @media screen and (max-width:992px) {
                margin: 2rem 1rem .5rem;
            }

            h2 {
                margin   : 1rem;
                font-size: 60px;
            }

            h3 {
                margin   : .5rem 1rem;
                font-size: 32px;
                color    : var(--darker-background-color);
            }
        }


        .content-container {
            display              : grid;
            grid-template-columns: 2fr 5fr 2fr;
            padding              : 3rem;
            gap                  : 60px;

            @media only screen and (max-width:992px) {
                grid-template-columns: 1fr;
                gap                  : 30px;
                padding              : 1rem;

            }

            ul {
                li {
                    margin   : 1rem 0;
                    font-size: 18px;

                    &>* {
                        margin: 0 1rem;
                    }

                    .write-icon {
                        font-size: 18px;
                        width    : 18px;
                        color    : var(--eye-catching-red);
                    }
                }
            }

            .content-article {
                h3 {
                    font-size    : 36px;
                    font-weight  : 500;
                    margin-bottom: 2rem;
                }

                p {
                    font-size    : 20px;
                    text-indent  : 2em;
                    margin-bottom: 2rem;
                }

                .social {
                    display        : flex;
                    justify-content: center;
                    margin         : 2rem 0;

                    li {
                        font-size: 18px;
                        padding  : 0 1rem;
                        cursor   : pointer;

                        .icon {
                            color: var(--eye-catching-red);
                        }
                    }
                }

                .message {
                    textarea {
                        width           : 100%;
                        height          : 200px;
                        background-color: transparent;
                        border          : 2px var(--second-background-color) solid;
                        padding         : 1rem;
                        font-size       : 20px;
                    }

                    .btn {
                        font-size  : 16px;
                        margin-top : 1rem;
                        margin-left: auto;
                        display    : block;
                    }
                }
            }

            .famous-saying {
                display        : flex;
                flex-direction : column;
                justify-content: center;

                &>* {
                    font-size  : 18px;
                    line-height: 2;
                }

                h4 {
                    &>* {
                        padding: 0 .25rem;
                    }

                    &:nth-of-type(1) {
                        padding-top: 1rem;
                        border-top : 2px var(--eye-catching-red) solid;
                    }

                    &:nth-of-type(2) {
                        text-align: right;
                    }

                    .write-icon {
                        color: var(--eye-catching-red);
                    }
                }
            }

            .also-recommand {
                display: grid;
                grid-template-areas:
                    "..."
                    "recommand";
                grid-template-rows: 2fr 7fr;

                @media screen and (max-width:768px) {
                    grid-template-areas:
                        "recommand";
                    grid-template-rows: 1fr;
                }

                .recommand {
                    grid-area  : recommand;
                    padding-top: 1rem;
                    border-top : var(--eye-catching-red) 2px solid;

                    img {
                        width: 100%;
                    }

                    span,
                    a {
                        display: block;
                        margin : 0.75rem 0;
                    }

                    span {
                        color: var(--eye-catching-red);
                    }

                    a {
                        text-decoration: none;
                        font-size      : 24px;
                    }
                }
            }

        }

        .big-pic {
            display              : grid;
            grid-template-columns: 1fr;

            img {
                width: 100%;
            }

            figcaption {
                margin-top : .5rem;
                padding-top: 1rem;
                line-height: 1.5em;
                font-size  : 18px;
                @media screen and (max-width:768px) {
                    padding-top: 0;
                }
            }
        }

        .change-page {
            background-color: var(--second-background-color);
            padding         : 60px 0;

            .item-group {
                display              : grid;
                grid-template-columns: repeat(2, 1fr);

                @media screen and (max-width:768px) {
                    grid-template-columns: 1fr;
                    gap                  : 50px;
                }

                .item {
                    text-decoration: none;
                    margin         : 0 auto;

                    &:nth-of-type(1) {
                        &:hover {
                            svg {
                                transform: translateX(-30px);
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        .icon {
                            display        : flex;
                            justify-content: flex-end;
                        }

                        &:hover {
                            svg {
                                transform: translateX(30px);
                            }
                        }
                    }

                    .icon {
                        svg {
                            font-size : 20px;
                            transition: .5s;
                        }
                    }

                    .toPage {
                        &>* {
                            padding: .5rem 0;
                        }

                        span {
                            font-size  : 12px;
                            font-weight: 300;
                            color      : var(--darker-background-color);
                        }

                        h3 {
                            font-size  : 28px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}