/* hero */
.hero {
    background: var(--primary-background-color);
    width     : 100%;
    height    : auto;
    position  : relative;
    padding   : 150px 0;

    .grid {
        grid-template-columns: 2fr 3fr;
        gap                  : 60px;
        position             : relative;
    }

    @media screen and (max-width:768px) {
        padding: 80px 0;

        .grid {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width:768px) {
        padding: 80px 0;

        .grid {
            grid-template-columns: 1fr;
        }
    }

    .bg {
        position         : absolute;
        top              : 0;
        left             : 0;
        width            : 100%;
        height           : 100%;
        background       : var(--primary-gradient-background-color);
        opacity          : .3;
        clip-path        : circle(70% at right -20%);
        -webkit-clip-path: circle(70% at right -20%);
    }

    h2,
    p {
        margin: 1rem 0;
    }

    h2 {
        font-weight: 600;
    }

    p {
        font-size  : 18px;
        font-weight: normal;
    }

    .info {
        padding-top: .5rem;
        margin     : 0 auto;
        width      : 80%;
    }

    .btn {
        width          : 200px;
        text-align     : center;
        margin-top     : 40px;
        display        : block;
        text-decoration: none;
    }

    .icon {
        color     : black;
        padding   : 10px 10px 0;
        font-size : 60px;
        transform : translate(0);
        transition: .25s;
    }

    .icon :hover {
        color    : #6190E8;
        transform: translateY(-50%);
    }

    .swiper-container {
        width     : 80%;
        box-shadow: 0px 10px 50px 0px gainsboro -30px;
        /* height : 300px; */
    }

    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .swiper-slide {
        width: 250px;
    }

    .swiper-slide img {
        width: 100%;
    }

}