/* banner */
.banner {
    background: url(../img/test.png) center center;
}

.banner .bg {
    background: url(../img/test.png) center center;
}

@media screen and (max-width:768px) {
    .banner {
        background-position: 30% 30%;
    }

    .banner .bg {
        background-position: 30% 30%;
    }
}

.product-page {
    display              : grid;
    grid-template-columns: 2fr 7fr;
    margin-top           : 60px;
}

@media screen and (max-width:768px) {
    .product-page {
        grid-template-columns: 1fr;
    }
}

/* sidebar */
.sidebar {
    position: sticky;
    top     : 76px;
    left    : 0;
}

.sidebar .form-group {
    width     : 200px;
    border-top: 2px solid #ddd;
}

.sidebar .form-check,
.sidebar .form-select {
    width : 200px;
    margin: .5rem;
}

.sidebar .form-check input {
    width : 20px;
    height: 20px;
}

.sidebar .form-check label {
    font-size: 20px;
}

.sidebar .form-select {
    border: none;
}

.sidebar .form-select option,
.sidebar .form-select {
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .sidebar {
        position: static;
    }

    .sidebar .form-group {
        width    : 100%;
        display  : flex;
        flex-wrap: wrap;
    }
}

/* product */
.product h2 {
    position     : relative;
    margin-bottom: 1.5rem;
}

.product {
    position   : relative;
    padding-top: 0;
}

/* recommand */
.recommand {
    padding-top: 0;
}

.recommand .toggle {
    display        : flex;
    justify-content: flex-end;
    margin-bottom  : 1rem;
}

.recommand .toggle .btn {
    font-size       : 14px;
    margin          : 0 .5rem;
    padding         : 0.5rem;
    color           : black;
    background-color: white;
    cursor          : pointer;
    border-radius   : 2px;
}

.recommand .toggle .btn.active {
    background-color: black;
    color           : white;
    cursor          : pointer;
}

.recommand .card-group {
    padding              : 0 30px;
    display              : grid;
    grid-template-columns: 1fr;
}

.recommand .card-group .detail-info {
    margin: 0.5rem;
}

@media screen and (max-width:768px) {
    .recommand .card-group {
        padding: 0px;
    }
}

/* 一個 */
.recommand .card-group .card {
    position           : relative;
    display            : grid;
    grid-template-areas: 'g g g f f f f f f f b b b';
    color              : black;
    text-decoration    : black;
    border-bottom      : 2px var(--second-background-color) solid;
}

.recommand .card-group .product-img {
    grid-area: g
}

.recommand .card-group .info {
    grid-area: f
}

.recommand .card-group .toBuy {
    grid-area: b
}

.recommand .card .info,
.recommand .card-group.active .info {
    text-decoration: none;
}

.recommand .card>* {
    padding: 1rem;
}

.recommand .card img {
    width     : 100%;
    transition: .5s;
}

.recommand .card-group h3 {
    font-weight: 600;
    margin     : .5rem;
    transition : .5s;
}

.recommand .card-group .card:hover h3 {
    color: var(--dark-blue);
}

.recommand .card-group .detail-info {
    display  : flex;
    flex-wrap: wrap;
}

.recommand .detail-info h4 {
    margin: 0.25rem;
}

.recommand .card-group .price {
    color    : var(--eye-catching-red);
    font-size: 24px;
}

.recommand .card-group .toBuy>* {
    margin-bottom: .5rem;
}

.recommand .card .product-img {
    padding: 0;
}

.recommand .card-group .btn {
    font-size  : 16px;
    padding    : 5px 12px;
    display    : flex;
    align-items: center;
    height     : 34px;
    width      : 140px;
}

.recommand .card-group .buy {
    visibility: hidden;
    position  : absolute;
}

.recommand .card-group .btn>* {
    padding: 0 .25rem;
}

@media screen and (max-width:768px) {
    .recommand .card-group .card {
        grid-template-areas:
            "g f"
            "g b";
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .recommand .card .detail-info {
        margin: 0;
    }

    .recommand .card-group h3,
    .recommand .card-group h4 {
        margin: 0;
    }

    .recommand .card-group h3 {
        font-size: 18px;
    }

    .recommand .card-group h4 {
        font-size: 16px;
    }

    .recommand .card .detail-info h4:not(.author) {
        display: none;
    }

    .recommand .card-group .toBuy {
        padding: 0 1rem;
    }
}

/* 3個一排 */
.recommand .card-group.active {
    gap                  : 30px;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
}

.recommand .card-group.active .card {
    border-bottom: transparent;
    transition   : .5s;
    border-radius: 20px;
    overflow     : hidden;
}

.recommand .card-group.active .card:hover {
    background-color: var(--second-background-color);
}


.recommand .card-group.active .product-img {
    overflow: hidden;
    display : block;

}

.recommand .card-group.active img {
    width     : 70%;
    display   : block;
    margin    : 0 auto;
    transition: .5s;
}

.recommand .card-group img:hover {
    transform: scale(1.2);
}

.recommand .card-group.active .card {
    display: block;
}

.recommand .card-group.active .card .info {
    padding: 0 1rem;
}

.recommand .card-group.active .toBuy {
    display        : flex;
    justify-content: space-between;
    padding        : 0 2rem;
}

.recommand .card-group.active .detail-info {
    display: none;
}

.recommand .card-group.active .btn {
    visibility: hidden;
}

.recommand .card-group.active .buy {
    visibility: visible;
    bottom    : 0px;
    right     : 0px;
    width     : 70px;
    height    : 70px;
    border    : transparent;
    clip-path : circle(50% at 76% 83%);
    transition: .5s;
    cursor    : pointer;
}

.recommand .card-group.active .buy i {
    position : absolute;
    top      : 40px;
    left     : 40px;
    font-size: 20px;
}

.recommand .card-group.active .buy:hover {
    clip-path       : none;
    width           : 100%;
    height          : 45px;
    background-color: var(--dark-blue);
}

.recommand .card-group.active .buy:hover i {
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    color    : white;
}

/* 手機時2個一排 */
@media screen and (max-width:768px) {
    .recommand .card-group.active {
        grid-template-columns: repeat(2, 1fr);
    }

    .recommand .card-group.active img {
        width: 100%;
    }
}