.main-footer {
    padding         : 20px;
    background-color: var(--dark-background-color);

    ul {
        text-align: center;

        li {
            padding: .5rem 0;

            .link {
                font-size: 24px;
            }
        }
    }

    p {
        padding   : 10px;
        text-align: center;
    }
}