.contact {
    margin-bottom: 60px;

    .info-and-form {
        align-items: center;
        padding    : 30px;

        .info-group {
            padding         : 2rem 3rem;
            height          : 80%;
            background-color: var(--second-background-color);
            transform       : translate(3rem, 1rem);

            @media screen and (max-width:768px) {
                width    : 100%;
                height   : auto;
                padding  : 2rem;
                transform: none;
            }

            @media screen and (max-width:576px) {
                padding: 2rem 1.5rem;

            }

            h3 {
                font-size  : 28px;
                font-weight: 500;
            }

            >* {
                padding: .5rem 0;
            }

            .info {
                h4 {
                    display    : flex;
                    align-items: center;
                    font-size  : 22px;
                    font-weight: 500;
                }

                p {
                    font-size: 18px;
                }

                &>* {
                    padding: .25rem 0;
                }
            }

            .icon {
                padding  : 10px 10px 0;
                color    : black;
                font-size: 60px;

                &:hover {
                    color: #6190E8;
                }
            }
        }
    }

    form {
        flex            : 1 0 0;
        padding         : 2rem 5rem;
        background-color: white;

        .form-action {
            width: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .contact {
        .info-and-form {
            flex-wrap: wrap;
            padding  : 30px 0;


            .icon {
                justify-content: center;
            }
        }

        form {
            padding: 1rem;
        }
    }
}